{% extends "books/layout.html" %}

{% block content %}

{% if book %}
<div class="delete">

<h1>Delete {{book.title}}</h1>

<div>
    <p>Are you sure you want to delete this book?</p>
    
    <form method="post" class="delete-form">
        {% csrf_token %}
        <button type="submit">Yes</button>
        <a href="{% url 'home' %}">
            <button>Cancel</button>
        </a>
                
    </form>
</div>

{% else %}
<div>
    Oops, book not found
</div>
</div>
{% endif %}


{% endblock %}