{% extends "books/layout.html" %} {% block content %} {% if book %}

<div class="book-details">
	<h1>{{ book.title }}</h1>
	<h2>by {{ book.author }}</h2>
	<p><strong>Year:</strong> {{ book.year }}</p>
	<p><strong>Rating:</strong> {{ book.rating }}</p>
	{% if book.created_by %}
	<p><strong>Created by:</strong> {{ book.created_by.username }}</p>
	{% endif %}

	<h3>Description</h3>
	<p>{{ book.description }}</p>

	<div>
		{% if user.is_authenticated and user == book.created_by %}
		<a
			class="btn btn-info"
			href="{% url 'edit' book.id %}"
		>
			Edit
		</a>

		<a
			class="btn btn-warning"
			href="{% url 'delete' book.id %}"
		>
			Delete
		</a>
		{% endif %}

		<a
			class="btn btn-default"
			href="{% url 'home' %}"
		>
			Home
		</a>
	</div>
</div>
{% else %}
<div class="not-found">
	<h2>Oops, book not found.</h2>
	<a
		class="btn btn-default"
		href="{% url 'home' %}"
		>Home</a
	>
</div>

{% endif %} {% endblock %}
