{% extends "books/layout.html" %} 

{% block content %}
<div class="home">


<h1>{Bookstore Name}</h1>
<h2>BossClaw and Jaysandjay</h2>

{% if books %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.year}}</td>
            <td>{{book.rating}}</td>
            <td><a href="{% url 'details' book.id %}">View Details</a></td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div>
    <h1>No Books</h1>
</div>
{% endif %}
</div>
{% endblock %}
