{% extends "books/layout.html" %} {% block content %}
<div class="home">
	<h1>Welcome to the JaSaBoCl Book App!</h1>
	<h2>by Jaysandjay and BossClaw</h2>

	{% if books %}
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Author</th>
				<th>Year</th>
				<th>Rating</th>
				<th>Created By</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
			<tr>
				<td>{{book.id}}</td>
				<td>{{book.title}}</td>
				<td>{{book.author}}</td>
				<td>{{book.year}}</td>
				<td>{{book.rating}}</td>
				<td>{% if book.created_by %}{{book.created_by.username}}{% else %}Unknown{% endif %}</td>
				<td>
					<a
						href="{% url 'details' book.id %}"
						class="btn btn-details"
						>Details</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div>
		<h1>No Books</h1>
	</div>
	{% endif %}
</div>
{% endblock %}
